{% if page.rtl == true %}
  {% assign alignment = "right" %}
  {% assign direction = "rtl" %}
{% else %}
  {% assign alignment = "left" %}
  {% assign direction = "" %}
{% endif %}

{% if page.contact_url == "email" %}
  {% assign link = "mailto:" | append: site.email %}
{% else %}
  {% assign link = page.contact_url %}
{% endif %}

{% case page.slide_collection %}
  {% when "parents" %}
    {% assign ordered_slides = site.parents | sort: 'slide_no' %} 
  {% when "therapists" %}
    {% assign ordered_slides = site.therapists | sort: 'slide_no' %} 
  {% else %}
    {% assign ordered_slides = "" %}
{% endcase %}